.slider{ width: 1600px;
    height:600px ;
    text-emphasis: center;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;}
#slider_box {width:1000 px;
    height: 500px;
    margin-right: 0px;
    margin-left: 370px;
    margin-top: 10px;
    padding: o;
    overflow: hidden;
    position: relative;
    display:inline-block;}
#slider_box>ul>li {
    width: 800px;
    height: 500px;
    display:inline-block;}
#slider_box>ul { width:800px;
    height: 500px;
    background-color: beige;
    display: inline-block;}
#img_1 {width: 400px;
    height: 300px;
    background-image: url(Images/Materials/1Create.png );
    border: #fff;}
#img_2 { width: 400px;
    height: 300px;
    background-image: url(Images/Materials/2Create.png);
    border: #fff;}
#img_3 {width: 400px;
    height: 300px;
    background-image: url(Images/Materials/3Create.png);
    border: #fff;}
.nav_slider{width: 1000px;
height: 60px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;}
#left_nav {width: 60px;
    height: 30px;
    margin-left: 326px;
   margin-right: 10px;
    margin-top: -237px;
    float: left;
    background-image: url(Images/Materials/leftactive.bmp);
    background-repeat: no-repeat;}
#right_nav {width: 60px;
    height:30px;
    float: left;
   margin-left: 1420px;
   margin-right: 10px;
    background-image: url(Images/Materials/leftactive2.bmp);
    background-repeat: no-repeat;
    margin-top: -210px;
   display: inline-block;}

   .blok7_karusel{ width: 1947;
    height: 610px;
    margin: auto;
    display: inline-block;
    background-color: white; }
.slideres{ width: 1840px;
    height:600px ;
    text-emphasis: center;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block}
.slider_box2 {width: 1000px;
    height: 500px;
    margin-right: 0px;
    margin-left: 370px;
    margin-top: 10px;
    padding: o;
    overflow: hidden;
    position: relative;
    display:inline-block;
    background-color: white;
    display: inline-block;}
.slider_box2>ul>li {
    width: 1000px;
    height: 500px;
    float: left;
    display:inline-block;
    background-color: gold;  }
.slider_box2>ul { width:1000px;
    height: 500px;
    background-color: beige;
    display: inline-block;
    background-color: goldenrod;}
.picture2{ width: 250px;
    height: 300px;
    background-image: url(Images/Materials/skrin2.png);
   margin-right: 10px;
   margin-left: 396px;
   margin-top: 10px;
    border: #fff;
    background-repeat: no-repeat;}
.picture3{width: 250px;
    height: 300px;
    background-image: url(Images/Materials/skrin3.png);
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    border: #fff;
    display: inline-block;
    background-repeat: no-repeat;}
.picture4 {width: 250px;
    height: 300px;
    background-image: url(Images/Materials/skrin4.png);
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    border: #fff;
    display: inline-block;
    background-repeat: no-repeat;}
.picture5 {width:250px;
    height: 300px;
    background-image: url(Images/Materials/skrin5.png);
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    border: #fff;
    display: inline-block;
    background-repeat: no-repeat;}
.picture6{width: 250px;
    height: 300px;
    background-image: url(Images/Materials/scrin6.png);
    border: #fff;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    display: inline-block;
    background-repeat: no-repeat;}
.nav_slider2{width: 1000px;
height: 60px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;}

.left_navig {width: 60px;
    height: 30px;
    margin-left: 326px;
   margin-right: 10px;
    margin-top: -804px;
    float: left;
    background-image: url(Images/Materials/leftactive.bmp);
    background-repeat: no-repeat;}
.right_navig {width: 60px;
    height:30px;
    float: left;
   margin-left: 1050px;
   margin-right: 10px;
    background-image: url(Images/Materials/leftactive2.bmp);
    background-repeat: no-repeat;
    margin-top: -800px;}


.slider3{ width: 1847px;
    height:358px;
    margin-right: 10px;
    margin-top: 0px;
    margin-left: 0px;
        text-emphasis: center;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    background-color: fuchsia;
    display: inline-block;}
    
    #slider_box3 {width: 500px;
        height: 500px;
        margin-right: 0px;
        margin-left: 370px;
        margin-top: 10px;
        padding: o;
        overflow: hidden;
        position: relative;
        display:inline-block;}
    #slider_box3>ul>li {
        width: 500px;
        height: 500px;
        display:inline-block;}
    #slider_box3>ul { width:1000px;
        height: 500px;
        background-color: beige;
        display: inline-block;}
     
.listcomment1{width: 1000px;
            height:270px;
            margin-right: 10px;
            margin-top: 0px;
            margin-left: -120px;
            display: inline-block;
            background-color: aqua;}
.listcomment2{ width: 1000px;
                height:270px;
                margin-right: 10px;
                margin-top: 0px;
                margin-left: 324px;
                display: inline-block;
                background-color: grey}
.listcomment3{
                    width: 1000px;
                    height:270px;
                    margin-right: 10px;
                    margin-top: 0px;
                    margin-left: 328px;
                    background-color: gold;
                    display: inline-block;}

.listcomment4{
                        width: 1000px;
                        height:270px;
                        margin-right: 10px;
                        margin-top: 0px;
                        margin-left: 328px;
                        background-color: salmon;
                        display: inline-block;}
    .nav_slider3{width: 1000px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;}
    #left_nav3 {width: 60px;
        height: 30px;
        margin-left: 326px;
       margin-right: 10px;
        margin-top: -237px;
        float: left;
        background-image: url(Images/Materials/leftactive.bmp);
        background-repeat: no-repeat;}
    #right_nav3 {width: 60px;
        height:30px;
        float: left;
       margin-left: 1420px;
       margin-right: 10px;
        background-image: url(Images/Materials/leftactive2.bmp);
        background-repeat: no-repeat;
        margin-top: -210px;
       display: inline-block;}
   
   