.{background-color: transparent;
    width: 100%;
    height: 200px;
    
    background-image: url(Images/Materials/shutterstoke.jpg);
    background-repeat:  no-repeat;
    
}


.blok_fonHead_ww{
    position: absolute;
    left: calc(50% - 500px);
    background-color: transparent;
    height: 175px;
    margin: 0 auto;
    min-width: 1000px;
    padding: 0 7px;
    overflow: visible; 
}
.blok_onlyoffice{
    height: 175px;
    background-image: url(Images/Materials/onlyoffice.jpg);
    width: 200px;
    background-repeat: no-repeat;
}
.login{color: #fff;
    font-size: 15px;
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 10px;
    font-weight: 20;
    text-decoration: none;

}

.znachok{


    
}
.blok_head{ 
}
.blok_zagolovok{color: #fff;
    font-size: 36px;
    font-weight: 500;
    line-height: 71px;
    margin: 36px 49px 15px;
    text-align: left;
 
}
.osnova{display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;
    

}
.DOCX1{  display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}
.DOCX2{ display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}
.DOCX3{  display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}

.blok_rabdoc{

    height: 300px;
    width: 800px; 
    padding: 10px;
    margin: auto;
    background:moccasin;
    background-repeat:  no-repeat;}

.blok1{ 
    height: 300px;  
    width: 250px;
    background: moccasin;
    float: left;
    font-size: 15px;
    text-align: left;
}
.p{  color: #333   
}

.blok_img{    
    margin: 0 auto;
    height: 105px;
    width: 100px;
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icons1.png);
  
}
.blok2{
    height: 300px;
    width: 250px;
background:moccasin; 
    float: left;

    text-align: left;
}
.p{color: #333; 
    font: normal 12px 'Open Sans',sans-serif;
}

.blok_img2{

    margin: 0 auto;
    height: 105px;
    width: 100px;
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icon2.png);
}
.blok3{height: 300px;
    width: 250px;
    float: left; 
    margin: 0 auto;
    background:moccasin;
    
}
.p{color: #333; 
    font: normal 12px 'Open Sans',sans-serif;

}

.blok_img3{
    margin: 0 auto;
    height: 105px;
    width: 100px;
   
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icon3.png);
    
}
.perevorot{font-size: 20px;
    width: 825px;
    margin: 0 auto;
    margin-top: 17px;
    position: relative;

}
.zagolovok2{font-size: 20px;
    width: 825px;
    margin: 0 auto;
    margin-top: 17px;
    position: relative;
    color: #333;
}
.menjpg{

}
.bolhe_voz{
    width: 1097px;
    margin: 0 auto;
}
.ONLYOFFICE_5
}
.zagolovo3{font-size: 36px;
    margin: 28px 0 0 68px;

}
.tekst_cherta{    font-size: 14px;
    margin: 72px 0 0 71px;

}
.tekst_2{
    font-size: 14px;
    margin: 17px 0 0 71px;
    line-height: 29px;
    max-width: 920px;
}
}
.p{color: #333;}
.img{ width: 1097px;
    height: 90px;
    margin: 0 auto;
    background-image: url(Images/Materials/Extendlogos.png);
    background-repeat:  no-repeat;
    display: inline-block;
    float: left;
}
.img1{width: 88px;
    height: 75px;
    margin: 50px 0 0 70px;
    background-position: -7px 5px;
}
.img2{width: 88px;
    height: 75px;
    background-position: -150px 4px;
    margin-left: 50px;
    margin-right: 20px;
}
.img3{
    background-position: -286px 4px;
    margin-left: 28px;
    width: 112px;
}
.img4{background-position: -461px 4px;
    margin-left: 63px;
    width: 95px;
}
}
.img5{   background-position: -601px 4px;
    margin-left: 45px;
    width: 170px;
    
}
.img6{background-position: -786px 4px;
    margin-left: 15px;
    width: 190px;
    
}
.ONLYOFFICE_5{  
     
     padding-top: 59px;
    padding-left: 50px;
    padding-bottom: 63px;
    background-size: cover;
    max-width: 1038px;
    margin: 0 auto;

}
.zagolovok4{font-size: 36px;
    vertical-align: top;
    margin: 0 0 0 15px;
    position: relative;

}
.on{color: #333;
    
}

.prosmotr{display: inline-block;
    width: 245px;
    margin: 0;
    vertical-align: top;
    margin-top: 38px;
    margin-right: 94px;

}
.prosmotr1{ display: inline-block;
    width: 245px;
    margin: 0;
    vertical-align: top;
    margin-top: 38px;
    margin-right: 94px;


}

.tk1{  font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;
      color: #333;
}
.tk2{font-size: 15px;
    margin: 0;
    line-height: 24px;
    color: #333;
}
.prosmotr2{ 

}
.tk3{font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;
    color: #333;
}
.tk4{  font-size: 15px;
    margin: 0;
    line-height: 24px;
    color: #333;
}
.tk5{    color: #f58c73;

}

.prosmotr3{     margin-right: 0;
    width: 276px;

}
.tk5{ font-size: 25px;
    font-weight: 500;
    margin-bottom: 13px;

}
.a3{    color: #333;

}
.tk6{font-size: 15px;
    margin: 0;
    line-height: 24px;

}
.access-apple{ width: 128px;
    height: 46px;
    margin-top: 29px;
    display: inline-block;
    background-image: url(Images/Materials/Apple.png);
    background-repeat:  no-repeat;
    margin-right: 16px;

    
}
.access-androi{width: 128px;
    height: 46px;
    margin-top: 29px;
    display: inline-block;
    background-image: url(Images/Materials/Android.png);
    background-repeat:  no-repeat;


}