.conteyner_blok{
    width: 100%;
    height: 200px;
    
    background-image: url(Images/Materials/shutterstoke.jpg);
    
    
}

.blok_fonHead_ww{
    position: absolute;
    left: calc(50% - 500px);
    background-color: transparent;
    height: 175px;
    margin: 0 auto;
    min-width: 1000px;
    padding: 0 7px;
    overflow: visible; 
}
.blok_onlyoffice{
    height: 175px;
    background-image: url(Images/Materials/onlyoffice.jpg);
    width: 200px;
    background-repeat: no-repeat;
}
.login{color: #fff;
    font-size: 15px;
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 10px;
    font-weight: 20;
    text-decoration: none;

}

.znachok{


    
}
.blok_head{ 
}
.blok_zagolovok{color: #fff;
    font-size: 36px;
    font-weight: 500;
    line-height: 71px;
    margin: 36px 49px 15px;
    text-align: left;
 
}
.osnova{display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;
    

}
.DOCX1{  display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}
.DOCX2{ display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}
.DOCX3{  display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 0 23px 79px;
    position: relative;
    text-align: left;

}

.blok_rabdoc{

    height: 300px;
    width: 800px; 
    padding: 10px;
    margin: auto;
    background:moccasin;
    background-repeat:  no-repeat;}

.blok1{ 
    height: 300px;  
    width: 250px;
    background: moccasin;
    float: left;
    font-size: 15px;
    text-align: left;
}
.p{  color: #333   
}

.blok_img{    
    margin: 0 auto;
    height: 105px;
    width: 100px;
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icons1.png);
  
}
.blok2{
    height: 300px;
    width: 250px;
background:moccasin; 
    float: left;

    text-align: left;
}
.p{color: #333; 
    font: normal 12px 'Open Sans',sans-serif;
}

.blok_img2{

    margin: 0 auto;
    height: 105px;
    width: 100px;
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icon2.png);
}
.blok3{height: 300px;
    width: 250px;
    float: left; 
    margin: 0 auto;
    background:moccasin;
    
}
.p{color: #333; 
    font: normal 12px 'Open Sans',sans-serif;

}

.blok_img3{
    margin: 0 auto;
    height: 105px;
    width: 100px;
   
    background-repeat:  no-repeat;
    background-image: url(Images/Materials/Icon3.png);
    
}
.pperevorot{
    
}